.pageBg{

    background: slategray;
}
.audioCard{
    width: 33%;
    /* height: 30 rem; */
    background: lightgray;
    
}
.songImgBg{
    background-image: url(play.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.songImg{

    height: auto;
    width: auto;
}
.songImg:hover{
    opacity: .4;

}